body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
}

.container{
    background-color: slateblue;
    width: 300px;
    border-radius: 10px;
    padding: 15px;
    color: aliceblue;
    margin: 5px;
}

.container h1 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
}

.container .input {
    width: 100%;
    height: 30px;
}

.container p.pay {
    font-size: 22px;


}