*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

.wrapper{
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow:0 15px 20px rgba(0, 0, 0, 0,0.1);
}

.title{
    line-height: 100px;
    color:#000;
    font-weight: 600;
    font-size: 35px;
    background:linear-gradient(-135deg,#c850c0,#4158d0);
    text-align: center;
    border-radius: 15px 15px 0 0;
    color: #fff;
}

.wrapper form{
    padding: 10px 30px 50px 30px;
}

.wrapper form .field{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    position: relative;
}

.wrapper form .field input{
    font-size: 18px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    outline: none;
    border: 1px solid lightgrey;
    padding-left: 20px;
    outline: none;
}

.wrapper form .field input:focus{
    border-color: #4158d0;
}

.wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 17px;
    transition: all 0.3s ease;
    color: #999;
}

.wrapper form .field input:focus ~ label,
.wrapper form .field input:valid ~ label{
    
    top: 0;
    transform:translateY(-50%);
    font-size: 16px;
    color: #4158d0;
    background: #fff;
}


.wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.forget{
    margin: 8px 0 0 10px;
}

.wrapper form .field input[type="submit"]{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    background:linear-gradient(-135deg,#c850c0,#4158d0);
    cursor: pointer;
    padding-left: none;
    border: none;
    transition: all 0.3s ease;
}

.wrapper form .field input[type="submit"]:active{
    transform: scale(0.95);
    
}


.wrapper form .sign-in{
    margin-top: 20px;
    text-align: center;
}

.wrapper form .forget a,
.wrapper form .sign-in a{
    text-decoration: none;
    color:#4158d0;
}
.wrapper form .forget a:hover,
.wrapper form .sign-in a:hover{
    text-decoration: underline;
}









