body{
    margin: 0;
    padding: 0;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.h2{
    font-size: 2rem;
    color: aliceblue;
    font-family: cursive;
}

.section{
    text-align: center;

}

.btn{
    font-size: 5rem;
    cursor: pointer;
    border: none;
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 15px;
    filter: grayscale();
    transition: filter 0.2s ease-in-out;

}

.btn:hover{
    filter: grayscale(0);
}

.emoji-name{
    font-weight: 600;
    color: darkblue;
}